<div id="<%= dom_id objet %>">
  <p>
    <strong>Titre:</strong>
    <%= objet.titre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= objet.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= objet.photo %>*
    
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= objet.lieu %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= objet.date %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= objet.statut %>
  </p>

</div>
