<div class="container">
  <%= image_tag "logo.png", alt: "Lost And Found Logo", class: "img-fluid mb-3" %>

  <div class="buttons mb-4">
    <%= link_to "Objet Perdu", new_objet_path(objet: { statut: "Perdu" }), class: "btn btn-danger" %>
    <%= link_to "Objet Trouvé", new_objet_path(objet: { statut: "Trouvé" }), class: "btn btn-success" %>
  </div>

  <div class="row">
    <% @objets.each do |objet| %>
      <div class="col-md-3 mb-4">
        <%= link_to objet_path(objet), class: "text-decoration-none" do %>
          <div class="card">
            <%= image_tag objet.photo.attached? ? objet.photo : "placeholder.jpg", class: "card-img-top", alt: objet.titre %>
            <div class="card-body text-center">
              <h5 class="card-title"><%= objet.titre %></h5>
              <p class="card-text"><strong>Ville:</strong> <%= objet.lieu %></p>
              <p class="card-text"><strong>Date:</strong> <%= objet.date.strftime("%d/%m/%Y") %></p>
              <span class="badge <%= objet.statut == "perdu" ? 'bg-danger' : 'bg-success' %>">
                <%= objet.statut %>  <!-- Pas besoin de capitalize -->
              </span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
